/****************************************************************************************
        $IMPORTS
****************************************************************************************/
@import '../../../colors.scss';

/****************************************************************************************
        $GENERALES
****************************************************************************************/
div {
    h5 {
      color: $primary-color;
    }
    h3 {
      color: $secundary-color;
    }
  }
  
  hr {
    border: 2px solid $secundary-color;
    width: 80%;
  }

/****************************************************************************************
        $CLASES
****************************************************************************************/
.img-home {
    max-height: 300px;
  }
