<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>


    <!-- A sidebar -->
    <!--<ng-sidebar [(opened)]="_opened" [(closeOnClickOutside)]="_closeOnClickOutSide" [(mode)]="_mode" #sidebar>-->
    <ng-sidebar (onClosed)="onClosed($event)" [(opened)]="_opened" [(mode)]="_mode" [dock]="_dock"
        [dockedSize]="_dockedSize" #sidebar>
        <app-menu #menu></app-menu>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content class="container-fluid contenido" [ngClass]="{'sidebar-open':_opened, 'sidebar-close': !_opened}">
        <div style="position: relative">
            <app-header (CambiaMenu)="_toggleSidebar($event, menu)"></app-header>
        </div>
        <router-outlet style="position: relative"></router-outlet>
        <ngx-loading [show]="loading"></ngx-loading>
    </div>
</ng-sidebar-container>